MYSQL_ROOT_PASSWORD=mysql_root_password
MYSQL_DATABASE=ai_explorer_db
MYSQL_USER=fiapps
MYSQL_PASSWORD=fiapps_password
MYSQL_HOST=localhost
MYSQL_PORT=3306

FI_APPS_API_URL=https://apps.fi-group.com/api/openai/chat/completions
FI_APPS_API_KEY=